.content .cart
{
	width: 300px;
	height: 200px;
	box-shadow: 4px 4px 10px;
	background-color: white;
	margin-left: 50px;
	margin-top: 10%;
	float: left;
}

.content .cart .title
{
	font-size: 20px;
	height: 20px;
	padding-top: 10px;
	text-align: center;
}

.content .cart .data
{
	width: 100%;
	height: 150px;
	padding-top: 20px;
}

.content .cart .data .row
{
	height: 27px;
}

.content .cart .data .row .name
{
	width: 70%;
	float: left;
	padding-left: 20px;
}

.content .cart .data .row .number
{
	width: 10%;
	float: right;
	padding-right: 15px;
}