{% block sidebar %}
<div class="sidebar">
    <a href="dashboard">
	<div class="button">
		<div class="name">Дашборд</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-приборная-панель-50.png" %}" alt="">
		</div>
	</div>
    </a>
	<a href="alerts"><div class="button">
		<div class="name">Тревоги</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-предупреждение-тормоза-50.png" %}" alt="">
		</div>
	</div>
    </a>
    <a href="map">
	<div class="button">
		<div class="name">Карта</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-карта-сокровищ-50.png" %}" alt="">
		</div>
	</div>
    </a>
    <a href="scooters">
	<div class="button">
		<div class="name">Самокаты</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-самокат-50.png" %}" alt="">
		</div>
	</div>
    </a>
    <a href="clients">
	<div class="button">
		<div class="name">Клиенты</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-мужчина-пользователь-50.png" %}" alt="">
		</div>
	</div>
    </a>
    <a href="orders">
	<div class="button">
		<div class="name">Заказы</div>
		<div class="icon">
			<img src={% static "frontend/icons/icons8-выставленный-счет-50.png" %} alt="">
        </div>
	</div>
    </a>
    <a href="review">
	<div class="button">
		<div class="name">Осмотр</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-детектив-50.png" %}" alt="">
		</div>
	</div>
    </a>
    <a href="billing">
	<div class="button">
		<div class="name">Биллинг</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-счет-50.png" %}" alt="">
		</div>
	</div>
    </a>
    <a href="rates">
	<div class="button">
		<div class="name">Тарифы</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-заказ-на-покупку-50.png" %}" alt="">
		</div>
	</div>
    </a>
    <a href="logs">
	<div class="button">
		<div class="name">Логи</div>
		<div class="icon">
			<img src="{% static "frontend/icons/icons8-история-заказов-50.png" %}" alt="">
		</div>
	</div>
    </a>
</div>
{% endblock %}